-- Drop category and background_color from curhatwall_posts
ALTER TABLE public.curhatwall_posts DROP COLUMN IF EXISTS category;
ALTER TABLE public.curhatwall_posts DROP COLUMN IF EXISTS background_color;

-- Notify PostgREST to reload schema
NOTIFY pgrst, 'reload schema';
